#include <afxres.h>
#include "standalone_res.rh"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST standalone.manifest

IDD_SELECT DIALOG DISCARDABLE 100, 100, 110, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "LED Ticker Software"
FONT 8, "MS Shell Dlg"
BEGIN
	DEFPUSHBUTTON "&OK",IDOK,85,49,20,12
	LTEXT "Serial port:",IDC_STATIC,5,5,80,12
	EDITTEXT IDC_PORT,5,17,80,12,ES_READONLY|WS_DISABLED
	PUSHBUTTON "&Edit",IDC_EDIT,85,17,20,12
	LTEXT "Game version:",IDC_STATIC,5,37,80,12
	COMBOBOX IDC_GAMELIST,5,49,80,200,CBS_DROPDOWNLIST
END
